EMAIL=trash.email@hotmail.com
NEW_EMAIL=firstlame.lastname@hotmail.com
PASSWORD=your_password
MISTRAL_API_KEY=your_api_key
GOOGLE_API_KEY=your_api_key
BRAVE_API_KEY=your_api_key
LANGFUSE_SECRET_KEY=sk-lf-your_api_key
LANGFUSE_PUBLIC_KEY=pk-lf-your_public_key
LANGFUSE_HOST=https://cloud.langfuse.com or any local URL
OUTLOOK_CLIENT_ID=your_application_client_id
OUTLOOK_CLIENT_SECRET=your_application_api_key
OUTLOOK_REFRESH_TOKEN_OLD=your_refresh_token_for_the_old_email
OUTLOOK_REFRESH_TOKEN_NEW=your_refresh_token_for_the_new_email
